@page "/"

<PageTitle>Home</PageTitle>

<Connection />
<br/>
<h1>Jokes</h1>
<JokesGrid></JokesGrid>
<br/>
<h1>Sent Jokes</h1>
<JokesSentGrid></JokesSentGrid>
<br/>
<h1>Translated Jokes</h1>
<JokesTranslatedGrid></JokesTranslatedGrid>